# Project Submission - Concordia Coding Bootcamp- International Football

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Victor\Desktop\Coding\results.csv')
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
45310,2023-11-21,Wales,Turkey,1,1,UEFA Euro qualification,Cardiff,Wales,False
45311,2023-11-21,Croatia,Armenia,1,0,UEFA Euro qualification,Zagreb,Croatia,False
45312,2023-11-21,Andorra,Israel,0,2,UEFA Euro qualification,Andorra la Vella,Andorra,False
45313,2023-11-21,Kosovo,Belarus,0,1,UEFA Euro qualification,Pristina,Kosovo,False
45314,2023-11-21,Romania,Switzerland,1,0,UEFA Euro qualification,Bucharest,Romania,False

# Data Analysis

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45315 entries, 0 to 45314
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45315 non-null  object
 1   home_team   45315 non-null  object
 2   away_team   45315 non-null  object
 3   home_score  45315 non-null  int64
 4   away_score  45315 non-null  int64
 5   tournament  45315 non-null  object
 6   city        45315 non-null  object
 7   country     45315 non-null  object
 8   neutral     45315 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

In [4]:
# Q1: What is the average number of goals for the home team?
average_home_goals = df['home_score'].mean()
print("Average number of goals for the home team:", average_home_goals)

Average number of goals for the home team: 1.7393136930376256

In [5]:
# Q2: What is the average number of goals for the away team?
average_away_goals = df['away_score'].mean()
print("Average number of goals for the away team:", average_away_goals)

Average number of goals for the away team: 1.1782412004854905

In [6]:
# Q3: What is the country with the highest overall home score?
home_scores_by_country = df.groupby('country')['home_score'].sum()
country_with_highest_home_score = home_scores_by_country.idxmax()
highest_home_score = home_scores_by_country.max()
print("Country with the highest overall home score:", country_with_highest_home_score)
print("Highest overall home score:", highest_home_score)

Country with the highest overall home score: United States
Highest overall home score: 2056

In [7]:
# Q4: What are the top 3 type of tournaments?
tournament_counts = df['tournament'].value_counts()
top_3_tournaments = tournament_counts.head(3)
print("Top 3 types of tournaments:")
print(top_3_tournaments)

Top 3 types of tournaments:
tournament
Friendly                        17773
FIFA World Cup qualification     8016
UEFA Euro qualification          2815
Name: count, dtype: int64

In [8]:
# Q5: Which country has the highest overall FIFA World Cup goals?
fifa_df = df[df['tournament'] == 'FIFA World Cup']
print (fifa_df)

             date  home_team      away_team  home_score  away_score  \
1311   1930-07-13    Belgium  United States           0           3
1312   1930-07-13     France         Mexico           4           1
1313   1930-07-14     Brazil     Yugoslavia           1           2
1314   1930-07-14       Peru        Romania           1           3
1315   1930-07-15  Argentina         France           1           0
...           ...        ...            ...         ...         ...
44349  2022-12-10    England         France           1           2
44351  2022-12-13  Argentina        Croatia           3           0
44352  2022-12-14     France        Morocco           2           0
44356  2022-12-17    Croatia        Morocco           2           1
44358  2022-12-18  Argentina         France           3           3

           tournament        city  country  neutral
1311   FIFA World Cup  Montevideo  Uruguay     True
1312   FIFA World Cup  Montevideo  Uruguay     True
1313   FIFA World Cup  Montevideo  Uruguay     True
1314   FIFA World Cup  Montevideo  Uruguay     True
1315   FIFA World Cup  Montevideo  Uruguay     True
...               ...         ...      ...      ...
44349  FIFA World Cup     Al Khor    Qatar     True
44351  FIFA World Cup      Lusail    Qatar     True
44352  FIFA World Cup     Al Khor    Qatar     True
44356  FIFA World Cup   Al Rayyan    Qatar     True
44358  FIFA World Cup      Lusail    Qatar     True

[964 rows x 9 columns]

In [10]:
total_goals_by_country = (fifa_df.groupby('home_team')['home_score'].sum() + fifa_df.groupby('away_team')['away_score'].sum())
country_with_highest_goals = total_goals_by_country.idxmax()
highest_goals = total_goals_by_country.max()
print("Country with the highest overall FIFA World Cup goals:", country_with_highest_goals)
print("Highest overall FIFA World Cup goals:", highest_goals)

Country with the highest overall FIFA World Cup goals: Brazil
Highest overall FIFA World Cup goals: 237.0